<mat-card>
	<mat-card-content>
	<mat-card-title >รายการพัสดุ</mat-card-title>
  <br>
  <div>
  <button *ngIf="!userRole" mat-raised-button color="primary" (click)="openDialog()">
    เพิ่มพัสดุ
  </button>
  <button mat-raised-button color="primary" (click)="report()">
    พิมพ์รายการพัสดุ
  </button>
  <br>
  <br>
	<table class="table" mat-table [dataSource]="sup_row" class="mat-elevation-z8">

		<!--- Note that these columns can be defined in any order.
			  The actual rendered columns are set as a property on the row definition" -->

		<!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ลำดับ </th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        {{i + 1}}
      </td>
    </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="supplie_name">
      <th mat-header-cell *matHeaderCellDef> ชื่อพัสดุ </th>
      <td mat-cell *matCellDef="let element" >
     {{element.supplie_name}} 
     <span *ngIf="element.unit < 5" style="color: crimson;">พัสดุใกล้หมด</span>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> ราคา </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef> จำนวน </th>
      <td mat-cell *matCellDef="let element" > {{element.unit}}
      </td>
    </ng-container>

    <ng-container matColumnDef="unit_name">
      <th mat-header-cell *matHeaderCellDef> หน่วย </th>
      <td mat-cell *matCellDef="let element"> {{element.unit_name}} </td>
      </ng-container>
    <ng-container matColumnDef="store">
      <th mat-header-cell *matHeaderCellDef> ร้าน </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element" >
        <button *ngIf="!userRole" mat-icon-button color="basic" style="color: rgb(255, 196, 0); background-color: rgb(99, 99, 90);" (click)="openDetail(element)"><mat-icon>edit</mat-icon></button>
        <button *ngIf="!userRole" mat-icon-button color="warn" style="background-color: rgb(99, 99, 90);" (click)="deleteRow(element)"><mat-icon>delete_forever</mat-icon></button>
        <button *ngIf="!userRole" mat-icon-button color="basic" style="background-color: rgb(99, 99, 90); color: rgb(30, 255, 0);" (click)="inputSup(element)"><mat-icon>add</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>



	</mat-card-content>
</mat-card>

