<div>
  <h3>เพิ่มครุภัณฑ์</h3>
  <form class="example-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidat>
    <mat-form-field>
      <mat-label>ชื่อครุภัณฑ์</mat-label>
      <input matInput matInput placeholder="กรอกชื่อครุภัณฑ์" type="text" class="form-control" name="du_name"
        [(ngModel)]="form.du_name" required #du_name="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>สภาพครุภัณฑ์</mat-label>
      <mat-select [(ngModel)]="form.du_status" name="du_status" #du_status="ngModel">
        <mat-option *ngFor="let statuse of status" [value]="statuse.value">
          {{statuse.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>ประเภทครุภัณฑ์</mat-label>
      <mat-select [(ngModel)]="form.du_serial" name="du_serial" #du_serial="ngModel">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ลำดับเลขครุภัณฑ์</mat-label>
      <input matInput matInput placeholder="กรอกลำดับเลขครุภัณฑ์" type="number" class="form-control" name="du_cate"
        [(ngModel)]="form.du_cate" required #du_cate="ngModel">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Input & change events</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="กรอกราคาครุภัณฑ์" class="form-control"
        name="date" [(ngModel)]="form.date" required #date="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>ราคาครุภัณฑ์</mat-label>
      <input matInput placeholder="กรอกราคาครุภัณฑ์" type="number" class="form-control" name="du_price"
        [(ngModel)]="form.du_price" required #du_price="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>ที่มาของครุภัณฑ์</mat-label>
      <input matInput matInput placeholder="กรอกที่มาของครุภัณฑ์" type="text" class="form-control" name="get"
        [(ngModel)]="form.get" required #get="ngModel">
    </mat-form-field>

    <button mat-raised-button color="primary">เพิ่ม</button>
  </form>
</div>