<div class="example-container">
    <h2>บัญชีวัสดุ</h2>
    <button mat-raised-button color="primary" (click)="print()" style="margin-bottom: 10px;">พิมพ์</button>
    <table class="table" mat-table [dataSource]="sup_row" class="example-container mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ลำดับ </th>
            <td mat-cell *matCellDef="let element; let i = index">
                {{i + 1}}
            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="supplie_name">
            <th mat-header-cell *matHeaderCellDef> รับจาก/จ่ายให้ </th>
            <td mat-cell *matCellDef="let element">
                {{element.serial}}
            </td>
        </ng-container>
        <ng-container matColumnDef="d">
            <th mat-header-cell *matHeaderCellDef> ชื่อพัสดุ </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> จำนวนรับ </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.units != '-' ;else other_content">
                    {{element.units + ' ' + element.unit_name}}
                </div>
                <ng-template #other_content>
                    {{element.units}}
                </ng-template>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> ราคารวมรับ </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.sum != '-' ;else other_content">
                    {{element.sum | currency:"฿ "}}
                </div>
                <ng-template #other_content>
                    {{element.sum}}
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="unit_name">
            <th mat-header-cell *matHeaderCellDef> จำนวนจ่าย </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.unit != '-' ;else other_content">
                    {{element.unit + ' ' + element.unit_name}}
                </div>
                <ng-template #other_content>
                    {{element.unit}}
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="store">
            <th mat-header-cell *matHeaderCellDef> ราคารวมจ่าย </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.prices != '-' ;else other_content">
                    {{element.prices | currency:"฿ "}}
                </div>
                <ng-template #other_content>
                    {{element.prices}}
                </ng-template>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
