<mat-card>
    <mat-card-content>
        <mat-card-title>ยืมครุภัณฑ์</mat-card-title>
		<mat-form-field appearance="outline">
			<mat-label>ค้นหาพัสดุ</mat-label>
			<input [(ngModel)]="key" matInput placeholder="Placeholder" (keyup.enter)="keytest()">
			<mat-hint>โปรดกรอกชื่อพัสดุ</mat-hint>
		</mat-form-field>
		<br>
		<table mat-table [dataSource]="row" class="mat-elevation-z8">

			<!--- Note that these columns can be defined in any order.
				  The actual rendered columns are set as a property on the row definition" -->

			<!-- Position Column -->
			<ng-container matColumnDef="id">
			  <th mat-header-cell *matHeaderCellDef> No. </th>
			  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="du_name">
			  <th mat-header-cell *matHeaderCellDef> ชื่อครุภัณฑ์ </th>
			  <td mat-cell *matCellDef="let element"> {{element.du_name}} </td>
			</ng-container>

			<!-- Weight Column -->
			<ng-container matColumnDef="du_serial">
			  <th mat-header-cell *matHeaderCellDef> เลขซีเรียล </th>
			  <td mat-cell *matCellDef="let element"> {{element.du_serial}} </td>
			</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="du_status">
			  <th mat-header-cell *matHeaderCellDef> สภาพ </th>
			  <td mat-cell *matCellDef="let element"> {{element.du_status}} </td>
			</ng-container>

			<ng-container matColumnDef="delete">
			  <th mat-header-cell *matHeaderCellDef></th>
			  <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" style="background-color: rgb(99, 99, 90);"
          (click)="deleteRow(element)"><mat-icon>delete_forever</mat-icon></button>
        </td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		  </table>

      <button mat-raised-button color="primary" (click)="select()">ยืนยันรายการยืม</button>
    </mat-card-content>
</mat-card>
