<mat-card class="card">
  <div class="header">
    <div style="text-align: center;">
      <img src="assets/images/logo/logos.jpg" alt="user">
    </div>
    <h2 class="head">ระบบสารสนทเศเพื่อการจัดการพัสดุและดูแลครุภัณฑ์ โรงเรียนบ้านสวายจีก</h2>
    <mat-card-header >
      <h3  class="label">เข้าสู่ระบบ</h3>
    </mat-card-header>
    <form class="example-form"
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
    >
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="กรอก Username"
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
        >
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Username is required!
          </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="กรอก Password"
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
        >
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
      </mat-form-field>

      <button class="button" mat-flat-button color="primary">Login</button>
    </form>
  </div>
</mat-card>
