<form
class="example-form"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidat>

  <h2>เปลี่ยนรหัสผ่าน</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="กรอกรหัสผ่านเดิม" matInput [type]="hide ? 'password' : 'text'"
    type="password"
    class="form-control"
    name="password"
    [(ngModel)]="form.password"
    required
    minlength="6"
    #password="ngModel">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="กรอกรหัสผ่านใหม่" matInput [type]="hide2 ? 'password' : 'text'"
    type="password"
    class="form-control"
    name="newpassword"
    [(ngModel)]="form.newpassword"
    required
    minlength="6"
    #password="ngModel">
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="กรอกรหัสผ่านใหม่" matInput [type]="hide3 ? 'password' : 'text'"
    type="password"
    class="form-control"
    name="new"
    [(ngModel)]="form.new"
    required
    minlength="6"
    #password="ngModel">
    <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
      <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.new != form.newpassword">ยืนยัน</button>
</form>
