<form>

  <h2>เปลี่ยนรหัสผ่าน</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="กรอกรหัสผ่านเดิม"
    type="password"
    class="form-control"
    name="password"
    [(ngModel)]="form.password"
    required
    minlength="6"
    #password="ngModel">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="กรอกรหัสผ่านใหม่"
    type="password"
    class="form-control"
    name="password"
    [(ngModel)]="form.newpassword"
    required
    minlength="6"
    #password="ngModel">
  </mat-form-field>

  <button mat-raised-button color="primary">ยืนยัน</button>
</form>
