<mat-card>
    <mat-card-content>
        <diV class="example-container">

            <h2>โรงเรียนบ้านสวายจีก ตำบลสวายจีก อำเภอเมือง จังหวัดบุรีรัมย์</h2>
            <h3>
                งบประมาณรอบที่ {{budgetYear}}
            </h3>
            <h3 *ngIf="offer">
                <a style="color: rgb(177, 34, 34);" routerLink="/from">
                  "เปิดรายการเสนอพัสดุแล้ว"
                </a>
            </h3>
            <h3 (click)="openDetail()" *ngIf="dire">
                <a style="color: rgb(187, 138, 5);" routerLink="/home">
                "เปิดหน้ารายการสั่งซื้อ"
              </a>
            </h3>
        </diV>
    </mat-card-content>
</mat-card>