<mat-card>
  <mat-card-content>
    <h3>รายการเบิกพัสดุ</h3>
    <button mat-raised-button color="primary" (click)="openform()">เบิกพัสดุ</button>
    <button mat-raised-button color="primary" (click)="reportByUser()">พิมพ์</button>
    <table mat-table [dataSource]="table" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> ชื่อผู้เบิก </th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="admin_approve">
        <th mat-header-cell *matHeaderCellDef>ผู้อำนวยการอนุมัติ</th>
        <td mat-cell *matCellDef="let element">
           <p aria-hidden="false" aria-label="Example home icon" *ngIf="element.admin_approve"
                      style="color: rgb(104, 207, 0);">อนุมัติแล้ว</p>
           <p aria-hidden="false" aria-label="Example home icon" *ngIf="!element.admin_approve"
                      style="color: rgb(219, 117, 0);">ยังไม่อนุมัติ</p>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dire_approvev">
        <th mat-header-cell *matHeaderCellDef>เจ้าหน้าที่อนุมัติ</th>
        <td mat-cell *matCellDef="let element">
          <p aria-hidden="false" aria-label="Example home icon" *ngIf="element.dire_approvev"
                    style="color: rgb(104, 207, 0);">อนุมัติแล้ว</p>
          <p aria-hidden="false" aria-label="Example home icon" *ngIf="!element.dire_approvev"
                    style="color: rgb(219, 117, 0);">ยังไม่อนุมัติ</p>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="total_price">
        <th mat-header-cell *matHeaderCellDef> ราคารวม </th>
        <td mat-cell *matCellDef="let element"> {{element.total_price}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> เวลาที่ขอเบิก</th>
        <td mat-cell *matCellDef="let element" >
          {{element.Date}}
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" >
          <p *ngIf="element.accept">รับของแล้ว</p>
          <p *ngIf="!element.accept && element.dire_approvev && element.admin_approve">ยังไม่รับของ</p>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row)"></tr>
      </table>

  </mat-card-content>
</mat-card>
